.pageHeadingStyles {
    padding: 10rem;
    background-color: #f8fafc;
    text-align: center;

    h1 {
        font-size: 4rem;
        color: #1e293b;
        line-height: 4rem;
        font-weight: 600;
    }

    p {
        font-size: 1.5rem;
        color: #6b7280;
        font-weight: 200;
    }
}