.base {
    padding:0.45rem 2.5rem;
    color:#475569;
    border:none;
    border-radius: 3px;
    background-color: transparent;
    box-shadow: 0 0 2px 1px #94a3b8;
    font-size: 18px;
    margin: 1rem;
}

.warning {
    composes: base;
    background-color: #f59e0b;
    box-shadow: 0 0 2px 1px #f59e0b;
    color:#fffbeb;
} 

.danger {
    composes: base;
    background-color: #dc2626;
    box-shadow: 0 0 2px 1px #b91c1c;
    color:#fee2e2;
}

.primary {
    composes: base;
    background-color: #6366f1;
    box-shadow: 0 0 2px 1px #6366f1;
    color:#c7d2fe;
}